.progressBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.progress-step{
    box-sizing: border-box;

    width: 16px;
    height: 16px;

    /* Dark Blue */

    background: #adadad;
    /* Dark Blue */

    border: 2px solid #0025CB;
    border-radius: 50%;
}

.current-step{
    width: 14px;
    height: 14px;

    background: #0025CB;
    border-radius: 50%;
}

.btn-primary {
    width: 325px;
    background: #0025CB;
    border-radius: 20px;
}

.formNavButtons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.stepTitle {
    text-align: center;
}

.quoteForm {
    justify-content: center;
}

h1 {
    text-align: center;
    background: #0025CB;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 17.0131px;
    line-height: 20px;
    letter-spacing: 0.05em;
}

h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}


label {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2F2F2F;
}

.dropdown {
    position: relative;
    display: inline-block;
}

select {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    gap: 6.69px;
    width: 325px;
    height: 41px;
    /* White */

    background: #FFFFFF;
    /* Dark Gray */

    border: 2px solid #2F2F2F;
    border-radius: 8px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


input[type="checkbox"] {
    cursor: pointer;
    background: #FFFFFF;
    height: 24px;
    width: 24px;
    top: 11px;
    left: 267px;
    border: 1px solid #000000;
    color: white;
}

input[type="checkbox"]:checked {
    background-color: #000000;
    color: #FFFFFF;
}

input[type="checkbox"]:after {
    content: ' ';
    position: absolute;
    height: 18px;
    width: 20px;
    left: 2px;
    top: 3px;
    border-radius: 0px;
    border: #FFFFFF;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

label .questions {
    font-style: normal;
    font-weight: 400;
    font-size: 17.0131px;
    line-height: 22px;
    color: #000000;
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    font-family: 'Barlow';
    font-style: normal;
    width: 160px;
    background-color: #D63E3E;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 10%;
    border-radius: 7px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

input[type="checkbox"] {
    float: right;
}

.vehicleChecklist {
    padding-left: 10px;
    padding-right: 10px;
}

.reviewPageSectionHeader {
    font-family: 'DM Sans';
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-bottom: 0.5px solid #757575;
    height: 30px;
    padding-bottom: 10px;
}

.reviewPageSectionHeader > .editBtn {
    text-align: right;
    color: #757575;
}

.reviewPageSectionHeader > .sectionTitle {
    text-align: left;
    /* Dark Gray */
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    color: #2F2F2F;
}

.form-control {
    padding: 9.4517px 14.1775px;
    gap: 6.33px;
    background: #FFFFFF;
    border: 1.89034px solid #2F2F2F;
    border-radius: 7.56136px;
    height: 42px;
}

.fieldSection{
    color: #757575;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.reviewInfoPage > p{
    font-family: 'DM Sans';
    font-style: normal;
    color: #2F2F2F;
}