<div class="navbar">
<h1>Quotes
<button>Search</button>
<button>Filter</button>
    </h1>
    </div>

<!--incomplete quotes-->
<p class="typeOfQuote">Incomplete Quotes</p>
<hr />
<div class="quoteSection">
<p class="customerName">First Last</p>
   <div class="timeAndid">
    <p class="time">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII="/>
            08/23/22 10:23 AM
    </p>
        <p class="quoteID">ID: 1234567890 </p>
    </div>
<p class="driverVehicleFull">Driver First Last Name</p>
<p class="driverVehicleFull">Vehicle Make and Model</p>
<p class="incompleteStatus">Incomplete</p>
    </div>

<!--completed quotes-->
<p class="typeOfQuote">Completed Quotes</p>
<hr />
<div class="quoteSection">
    <p class="price">$Price</p>
    <p class="customerName">First Last</p>
    <div class="timeAndid">
        <p class="time">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII=" />
            08/23/22 10:23 AM
        </p>
        <p class="quoteID">ID: 1234567890 </p>
    </div>
    <p class="driverVehicleFull">Driver First Last Name</p>
    <p class="driverVehicleFull">Vehicle Make and Model</p>
    <button class="completedStatus" type="button">Completed</button>
</div>

<!--submitted quotes-->
<p class="typeOfQuote">Submitted Quotes</p>
<hr />
<div class="quoteSection">
    <p class="price">$Price</p>
    <div class="customerInfo">
    <p class="customerName">First Last</p>
    <div class="timeAndid">
        <p class="time">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII=" />
            08/23/22 10:23 AM
        </p>
        <p class="quoteID"> ID: 1234567890 </p>
    </div>
    <p class="driverVehicleFull">Driver First Last Name</p>
    <p class="driverVehicleFull">Vehicle Make and Model</p>
    <p class="submittedStatus">Submitted</p>
        </div>
</div>