<div> 
    <h1>Quotes</h1>
<button class="searchbtn" type="button">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAARCAYAAADQWvz5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADISURBVHgBzVNREcMgDIUZWB0MB5UwCZUwCUioBCRUwiQwCXXQTsHqgIVeuMtyBcLtp+/uXXokvLwjqVYMIYQOwgA0eLQCX1rrt5ICRCzwE44xSkVGcsmjaOSTnLuaSE+KH5l8cjqUhHzNPrrb3ZaEEm6q7Dy56njuQr5XwWQ2jNfmTq2OZoy2IBKHEAVmcL7liu7YKXbsD/IGuOSmyosdefQpXkC68Luk9cVkS8nhW8UM7syEtGktWCPZLyN0fU6xRf0LnOr+fl9eN3VHtXabFAAAAABJRU5ErkJggg==" width="18" height="17" />
     Search
         </button>
<button class="filterbtn" type="button">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACWSURBVHgBzZHhDUBADIV7YoDb4GxgBRuwARsYQUxiBZuwwY1ghOrRk4aI8stLXtLk+rW91iCiB4AM3mlMGZrZGlVkm8YKxpheQ9GEWQwm8kLOFVCHu4atQvjnE0xvNUOhkT3aC9ipIDk7w17CAvIX6Aa2YXQBOXhYQMPJTsTFOS+Bj/oXWJBb0EosBPmunRYsI3B7N9IKJ1XIB5bloSgAAAAASUVORK5CYII=" />
    Filter
</button>
    </div>

<!--incomplete quotes-->
<p class="typeOfQuote">Incomplete Quotes</p>
<hr />
<div class="quoteSection">
<p class="customerName">First Last</p>
   <div class="timeAndid">
    <p class="time">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII="/>
            08/23/22 10:23 AM
    </p>
        <p class="quoteID">ID: 1234567890 </p>
    </div>
<p class="driverVehicleFull">Driver First Last Name</p>
<p class="driverVehicleFull">Vehicle Make and Model</p>
<p class="incompleteStatus">Incomplete</p>
    </div>

<!--completed quotes-->
<p class="typeOfQuote">Completed Quotes</p>
<hr />
<div class="quoteSection">
<p class="customerName">First Last</p>
    <div class="timeAndid">
<p class="time">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII=" />
    08/23/22 10:23 AM
</p>
<p class="quoteID">ID: 1234567890 </p>
    </div>
<p class="driverVehicleFull">Driver First Last Name</p>
<p class="driverVehicleFull">Vehicle Make and Model</p>
<p class="price">$Price</p>
<p class="completedStatus">Completed</p>
    </div>

<!--submitted quotes-->
<p class="typeOfQuote">Submitted Quotes</p>
<hr />
<div class="quoteSection">
<p class="customerName">First Last</p>
    <div class="timeAndid">
<p class="time">
    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFlSURBVHgBpVI7boNAFORnyV18BHID15Yl+wbxDcINgiUj0RlXAQlkjuDcwDlBSINIlzIluQFlJH6ZQbsIEUcu/CTY95vZt7OrKDeYOk7Ytj2bTCaPTdPMVVU18RXwzyglURR9/wve7XYPaD6J8Ny2bU4C+GsmENthGL7+AQsgAXFVVYc4josR8R51D/WNJFDFqCZGfUPhhMJBjq/r+rGu660kAsERiwXye+Y0JtG04iqBtOl0OtM0zULtTuY4EXZXqAnjDoymDQVRrpiYgOLNezDGnVGcSwDsZA1j0Wf2YDRIVXvzfT9Ho0eRHMd5GoDZV/Rg2CdVpEhDAmpAAhwrkTn4a94KfYO/sixfIIJnGMYe4XZMIH1eF1f0dmQ6f1mW/SwWiy8wxliVNE3fhwScaLlcPqPuYhIrCIKP7rjDJvFQYvp4kgm14BnFbfC81sUXJs11XRPAFTVASA1yasKjjV/dTfYLLlOzFQ5eyXcAAAAASUVORK5CYII=" />
    08/23/22 10:23 AM
</p>
<p class="quoteID"> ID: 1234567890 </p>
        </div>
<p class="driverVehicleFull">Driver First Last Name</p>
<p class="driverVehicleFull">Vehicle Make and Model</p>
<p class="price">$Price</p>
<p>Submitted</p>
</div>