<h3>Discount Management</h3>

<h5>Add State</h5>
<div>
    <select name="state" class="custom-select" (change)="stateChanged($event.target.value)">
        <option></option>
        <option *ngFor="let s of inactiveStates" value="{{s}}">{{s}}</option>
    </select>
</div>
<div></div>
<h5>Existing States</h5>
<div id="accordion" *ngIf="discounts">
    <div *ngFor="let d of discounts" class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#body' + d.state" style="cursor: pointer">
            <button type="button" class="btn btn-danger" [routerLink]="['/discount','edit',d.state]">{{d.state}}</button>
        </div>
        <div id="body{{d.state}}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Quotes</strong>
                            <div>
                                <label for="lowDrivingExperience">Low Driving Experience</label>
                                <span class="float-right">{{d.lowDrivingExperience}}</span>
                            </div>
                            <div>
                                <label for="previousCarrierLizard">Previous Carrier Lizard</label>
                                <span class="float-right">{{d.previousCarrierLizard}}</span>
                            </div>
                            <div>
                                <label for="previousCarrierPervasive">Previous Carrier Pervasive</label>
                                <span class="float-right">{{d.previousCarrierPervasive}}</span>
                            </div>
                            <div>
                                <label for="recentMovingViolations">Recent Moving Violations</label>
                                <span class="float-right">{{d.recentMovingViolations}}</span>
                            </div>
                            <div>
                                <label for="recentClaims">Recent Claims</label>
                                <span class="float-right">{{d.recentClaims}}</span>
                            </div>
                            <div>
                                <label for="multiCar">Multi-car</label>
                                <span class="float-right">{{d.multiCar}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Vehicles</strong>
                            <div>
                                <label for="daytimeRunningLights">Daytime Running Lights</label>
                                <span class="float-right">{{d.daytimeRunningLights}}</span>
                            </div>
                            <div>
                                <label for="antilockBrakes">Anti-lock Brakes</label>
                                <span class="float-right">{{d.antilockBrakes}}</span>
                            </div>
                            <div>
                                <label for="lowAnnualMileage">Low Mileage</label>
                                <span class="float-right">{{d.lowAnnualMileage}}</span>
                            </div>
                            <div>
                                <label for="passiveRestraints">Passive Restraints</label>
                                <span class="float-right">{{d.passiveRestraints}}</span>
                            </div>
                            <div>
                                <label for="antitheftInstalled">Anti-theft Installed</label>
                                <span class="float-right">{{d.antitheftInstalled}}</span>
                            </div>
                            <div>
                                <label for="highDaysDrivenPerWeek">High Days Driven Per Week</label>
                                <span class="float-right">{{d.highDaysDrivenPerWeek}}</span>
                            </div>
                            <div>
                                <label for="lowMilesDrivenToWork">Low Miles Driven To Work</label>
                                <span class="float-right">{{d.lowMilesDrivenToWork}}</span>
                            </div>
                            <div>
                                <label for="reduceUse">Reduced Use</label>
                                <span class="float-right">{{d.reduceUse}}</span>
                            </div>
                            <div>
                                <label for="garageAddressDifferent">Garage Address Different</label>
                                <span class="float-right">{{d.garageAddressDifferent}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Drivers</strong>
                            <div>
                                <label for="youngDriver">Young Driver</label>
                                <span class="float-right">{{d.youngDriver}}</span>
                            </div>
                            <div>
                                <label for="safeDrivingSchool">Safe Driving School</label>
                                <span class="float-right">{{d.safeDrivingSchool}}</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
