@model WebAgentPro.Api.Models.Driver

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Driver</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DriverId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SSN" class="control-label"></label>
                <input asp-for="SSN" class="form-control" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverLicenseNumber" class="control-label"></label>
                <input asp-for="DriverLicenseNumber" class="form-control" />
                <span asp-validation-for="DriverLicenseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DriverLicenseState" class="control-label"></label>
                <input asp-for="DriverLicenseState" class="form-control" />
                <span asp-validation-for="DriverLicenseState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SafeDrivingSchool" /> @Html.DisplayNameFor(model => model.SafeDrivingSchool)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="QuoteMultiplier" class="control-label"></label>
                <input asp-for="QuoteMultiplier" class="form-control" />
                <span asp-validation-for="QuoteMultiplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
