<h3>Login</h3>
<form *ngIf="creds" #loginForm="ngForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" required id="username" name="username" #credentials="ngModel" [(ngModel)]="creds.username" class="form-control" />
        <div [hidden]="credentials.valid || credentials.pristine" class="alert alert-danger">Username is required.</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required id="password" name="password" #password="ngModel" [(ngModel)]="creds.password" class="form-control"/>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Username is required.</div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary">Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>