<h1>Discount Management</h1>

<div id="accordion" *ngIf="discounts">
    <div class="card">
        <div class="card-header" data-toggle="collapse" data-target="#newState" style="cursor: pointer">
            <h5>Add State</h5>
        </div>
        <div id="newState" class="collapse" data-parent="#accordion">
            <form #stateForm="ngForm" (ngSubmit)="postDiscount(newStateDiscounts)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Quotes</strong>
                            <div class="form-group">
                                <label>State</label>
                                <select name="new.state" [(ngModel)]="newStateDiscounts.state" class="custom-select" required>
                                    <option></option>
                                    <option *ngFor="let s of inactiveStates">{{s}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Low Driving Experience</label>
                                <input type="number" step=".01" name="new.lowDrivingExperience" [(ngModel)]="newStateDiscounts.lowDrivingExperience" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Previous Carrier Lizard</label>
                                <input type="number" step=".01" name="new.statepreviousCarrierLizard" #previousCarrierLizard="ngModel" [(ngModel)]="newStateDiscounts.previousCarrierLizard" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Previous Carrier Pervasive</label>
                                <input type="number" step=".01" name="new.statepreviousCarrierPervasive" #previousCarrierPervasive="ngModel" [(ngModel)]="newStateDiscounts.previousCarrierPervasive" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Recent Moving Violations</label>
                                <input type="number" step=".01" name="new.recentMovingViolations" #recentMovingViolations="ngModel" [(ngModel)]="newStateDiscounts.recentMovingViolations" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Recent Claims</label>
                                <input type="number" step=".01" name="new.recentClaims" #recentClaims="ngModel" [(ngModel)]="newStateDiscounts.recentClaims" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Multi-car</label>
                                <input type="number" step=".01" name="new.multiCar" #multiCar="ngModel" [(ngModel)]="newStateDiscounts.multiCar" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Vehicles</strong>
                            <div class="form-group">
                                <label>Daytime Running Lights</label>
                                <input type="number" step=".01" name="new.daytimeRunningLights" #daytimeRunningLights="ngModel" [(ngModel)]="newStateDiscounts.daytimeRunningLights" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Anti-lock Brakes</label>
                                <input type="number" step=".01" name="new.antilockBrakes" #antilockBrakes="ngModel" [(ngModel)]="newStateDiscounts.antilockBrakes" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Low Mileage</label>
                                <input type="number" step=".01" name="new.lowAnnualMileage" #lowAnnualMileage="ngModel" [(ngModel)]="newStateDiscounts.lowAnnualMileage" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Passive Restraints</label>
                                <input type="number" step=".01" name="new.passiveRestraints" #passiveRestraints="ngModel" [(ngModel)]="newStateDiscounts.passiveRestraints" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Anti-theft Installed</label>
                                <input type="number" step=".01" name="new.antitheftInstalled" #antitheftInstalled="ngModel" [(ngModel)]="newStateDiscounts.antitheftInstalled" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>High Days Driven Per Week</label>
                                <input type="number" step=".01" name="new.highDaysDrivenPerWeek" #highDaysDrivenPerWeek="ngModel" [(ngModel)]="newStateDiscounts.highDaysDrivenPerWeek" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Low Miles Driven To Work</label>
                                <input type="number" step=".01" name="new.lowMilesDrivenToWork" #lowMilesDrivenToWork="ngModel" [(ngModel)]="newStateDiscounts.lowMilesDrivenToWork" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Reduced Use</label>
                                <input type="number" step=".01" name="new.reduceUse" #reduceUse="ngModel" [(ngModel)]="newStateDiscounts.reduceUse" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Garage Address Different</label>
                                <input type="number" step=".01" name="new.garageAddressDifferent" #garageAddressDifferent="ngModel" [(ngModel)]="newStateDiscounts.garageAddressDifferent" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Drivers</strong>
                            <div class="form-group">
                                <label>Young Driver</label>
                                <input type="number" step=".01" name="new.youngDriver" #youngDriver="ngModel" [(ngModel)]="newStateDiscounts.youngDriver" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label>Safe Driving School</label>
                                <input type="number" step=".01" name="new.safeDrivingSchool" #safeDrivingSchool="ngModel" [(ngModel)]="newStateDiscounts.safeDrivingSchool" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <button type="submit" [disabled]="!stateForm.form.valid" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div *ngFor="let d of discounts" class="card">
        <div class="card-header" data-toggle="collapse" [attr.data-target]="'#body' + d.state" style="cursor: pointer">
            <h5 class="mb-0">{{d.state}}</h5>
        </div>
        <div id="body{{d.state}}" class="collapse" data-parent="#accordion">
            <form #discountForm="ngForm" (ngSubmit)="putDiscount(d)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <strong>Quotes</strong>
                            <div class="form-group">
                                <label for="lowDrivingExperience">Low Driving Experience</label>
                                <input type="number" step=".01" id="lowDrivingExperience" name="lowDrivingExperience" #lowDrivingExperience="ngModel" [(ngModel)]="d.lowDrivingExperience" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="previousCarrierLizard">Previous Carrier Lizard</label>
                                <input type="number" step=".01" id="previousCarrierLizard" name="previousCarrierLizard" #previousCarrierLizard="ngModel" [(ngModel)]="d.previousCarrierLizard" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="previousCarrierPervasive">Previous Carrier Pervasive</label>
                                <input type="number" step=".01" id="previousCarrierPervasive" name="previousCarrierPervasive" #previousCarrierPervasive="ngModel" [(ngModel)]="d.previousCarrierPervasive" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="recentMovingViolations">Recent Moving Violations</label>
                                <input type="number" step=".01" id="recentMovingViolations" name="recentMovingViolations" #recentMovingViolations="ngModel" [(ngModel)]="d.recentMovingViolations" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="recentClaims">Recent Claims</label>
                                <input type="number" step=".01" id="recentClaims" name="recentClaims" #recentClaims="ngModel" [(ngModel)]="d.recentClaims" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="multiCar">Multi-car</label>
                                <input type="number" step=".01" id="multiCar" name="multiCar" #multiCar="ngModel" [(ngModel)]="d.multiCar" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Vehicles</strong>
                            <div class="form-group">
                                <label for="daytimeRunningLights">Daytime Running Lights</label>
                                <input type="number" step=".01" id="daytimeRunningLights" name="daytimeRunningLights" #daytimeRunningLights="ngModel" [(ngModel)]="d.daytimeRunningLights" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="antilockBrakes">Anti-lock Brakes</label>
                                <input type="number" step=".01" id="antilockBrakes" name="antilockBrakes" #antilockBrakes="ngModel" [(ngModel)]="d.antilockBrakes" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="lowAnnualMileage">Low Mileage</label>
                                <input type="number" step=".01" id="lowAnnualMileage" name="lowAnnualMileage" #lowAnnualMileage="ngModel" [(ngModel)]="d.lowAnnualMileage" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="passiveRestraints">Passive Restraints</label>
                                <input type="number" step=".01" id="passiveRestraints" name="passiveRestraints" #passiveRestraints="ngModel" [(ngModel)]="d.passiveRestraints" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="antitheftInstalled">Anti-theft Installed</label>
                                <input type="number" step=".01" id="antitheftInstalled" name="antitheftInstalled" #antitheftInstalled="ngModel" [(ngModel)]="d.antitheftInstalled" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="highDaysDrivenPerWeek">High Days Driven Per Week</label>
                                <input type="number" step=".01" id="highDaysDrivenPerWeek" name="highDaysDrivenPerWeek" #highDaysDrivenPerWeek="ngModel" [(ngModel)]="d.highDaysDrivenPerWeek" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="lowMilesDrivenToWork">Low Miles Driven To Work</label>
                                <input type="number" step=".01" id="lowMilesDrivenToWork" name="lowMilesDrivenToWork" #lowMilesDrivenToWork="ngModel" [(ngModel)]="d.lowMilesDrivenToWork" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="reduceUse">Reduced Use</label>
                                <input type="number" step=".01" id="reduceUse" name="reduceUse" #reduceUse="ngModel" [(ngModel)]="d.reduceUse" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="garageAddressDifferent">Garage Address Different</label>
                                <input type="number" step=".01" id="garageAddressDifferent" name="garageAddressDifferent" #garageAddressDifferent="ngModel" [(ngModel)]="d.garageAddressDifferent" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <strong>Drivers</strong>
                            <div class="form-group">
                                <label for="youngDriver">Young Driver</label>
                                <input type="number" step=".01" id="youngDriver" name="youngDriver" #youngDriver="ngModel" [(ngModel)]="d.youngDriver" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="safeDrivingSchool">Safe Driving School</label>
                                <input type="number" step=".01" id="safeDrivingSchool" name="safeDrivingSchool" #safeDrivingSchool="ngModel" [(ngModel)]="d.safeDrivingSchool" class="form-control" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <button type="submit" [disabled]="!discountForm.form.valid" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>