<!-- nav --> 
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/widgets">Widgets</a>
        <a class="nav-item nav-link" routerLink="/discounts" *ngIf="isManager">Discounts</a>
        <a class="nav-item nav-link" routerLink="/users" *ngIf="isManager">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <alert></alert>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

 
<!-- footer -->
<div class="text-center">
  <p>Web Agent Pro Starter (c)AIA 2020</p>
</div>
