<h3>Register</h3>
<form #registrationForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" required id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="registration.firstName" class="form-control" />
        <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">First Name is required.</div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" required id="lastName" name="lastName" #lastName="ngModel" [(ngModel)]="registration.lastName" class="form-control" />
        <div [hidden]="lastName.valid || lastName.pristine" class="alert alert-danger">Last Name is required.</div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" required id="username" name="username" #username="ngModel" [(ngModel)]="registration.username" class="form-control" />
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">Username is required.</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" id="password" name="password" #password="ngModel" [(ngModel)]="registration.password" class="form-control" />
        <small class="text-muted">Password must be at least 6 characters and include at least one upper case character, one lower case and a number.</small>
        <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Password is required.</div>
    </div>
    <div class="form-group">
        <button [disabled]="!registrationForm.form.valid" class="btn btn-primary">Register</button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
